.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .dateSelection {
    width: 700px;
    height: 200px;
    font-size: 100px;
    border: none;
    margin-left: 30%;
    
    
  }
  
  .tableData {
    width: 100%;
    max-width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .tableData th,
  .tableData td {
    border: 2px solid #ddd;
    padding: 1px;
    text-align: center;
    font-size: 40px ;
  }
  
  .tableData th {
    background-color: #f2f2f2;
  }
  
  .Input {
    width: 90%;
    height: 200px;
    padding: 4px;
    font-size: 120px;
    text-align: center;
    border: none;
  }
  
  .submit {
    margin-top: 20px;
  }
  
  .submit button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 16px;
  }
  
  button {
    background-color: #0095f6;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0971b6;
  }
  
  button:active {
    background-color: #3e8e41;
  }
  