
/* Toast  */
.Toast {
    font-size: 1rem;
    font-weight: bold;
}

.Container {
    width: 100%;
}


.rowstitles{
    font-size: 3rem;
    font-weight: bold ;

}
.tableData{
   
    font-size: 2rem;
    width: 66%;
    
    text-align: center;

}

.submit{
    font-size: 1rem;
    width: 30%;
    text-align: center;
    color: blue;  
}

.Input{
    display: flex;
    font-size: 8rem;
    width: 20rem;
    height: 10rem;
    border: 2px solid rgb(11, 34, 11);
    text-align: center;
    align-content: space-around;
    
}

.dateSelection{
        font-size: 6rem;
        text-align: center;
        width: 100%;
       
        
}